* {
    font-family: "Exo", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    // overflow: scroll;
    /* overflow: unset; */
  }

  .black__logo {
    width: 147px;
    margin-bottom: 56px;
  }


  .content__header {
    font-size: 34px;
    font-weight: 700;
  }

  
  .return__buttonContainer {
    text-align: center;
    padding-top: 48px;
    width: 100%;
  }

  .return__button {
    border: 5px solid #5e6161;
    background-color: white;
    margin-top: 48px;
    padding: 8px 120px;
    font-weight: 500;
    color: #5e6161;
    font-size: 24px;
    transition: 0.5s;
  }
  
  .return__button:hover {
    color: white;
    background: #5e6161;
  }
  
  .back__button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 32px;
    height: 32px;
  }
