@import "border.scss";
@import "defaults.scss";


.home__content{
    border: 10px solid #5e6161;
    border-style: none solid;
    text-align: center;
    box-sizing:border-box;
    left: 0;
    right: 0;
    position: relative;
    

}

.home__logo{
    position: absolute;
    left: 44%;
    top: 39%;

    width: 174px;
    
}

.home__sides{
    height: calc(100vh - 20px);;
    width: calc(100vw - 20px);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.home__side{
    display: flex;
    align-items: center;
    justify-content: center;
}


.home__topLeft{
    
    background-color: #556270;
    
}


.home__topRight{

    
    background-color: #4ecdc4;
}


.home__bottomLeft{

    
    background-color: #c7f464;
}


.home__bottomRight{
    grid: br;
    
    background-color: #ff6b6b;
}

.home__heading{
    color: #fff;
    font-size: 38px;
}