.topBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.bottomBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.triangle {
  /* z-index: 500; */
  position: fixed;
  top: 9.5px;
  /* left: 48.25%; */
  left: 0;
  right: 0;
  margin: 0 auto;
}

* {
  font-family: "Exo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: unset; */
}

.black__logo {
  width: 147px;
  margin-bottom: 56px;
}

.content__header {
  font-size: 34px;
  font-weight: 700;
}

.return__buttonContainer {
  text-align: center;
  padding-top: 48px;
  width: 100%;
}

.return__button {
  border: 5px solid #5e6161;
  background-color: white;
  margin-top: 48px;
  padding: 8px 120px;
  font-weight: 500;
  color: #5e6161;
  font-size: 24px;
  transition: 0.5s;
}

.return__button:hover {
  color: white;
  background: #5e6161;
}

.back__button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
}

.work__content {
  border: 10px solid #5e6161;
  border-style: none solid;
  padding: 100px;
  text-align: center;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.work__content__items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  gap: 8px 8px;
  margin: auto 124px;
}

.work__content__item {
  border: 5px solid #c7c7c7;
  /* box-sizing: border-box; */
  padding: 2px;
  margin-bottom: 10px;
  transition: border 0.5s;
}

.work__content__item:hover {
  border: 5px solid #7b7b7b;
}

.work__content__item img {
  width: 225px;
  height: 225px;
  transition: border 0.5s;
}

@media screen and (max-width: 1024px) {
  .work__content__items {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 768px) {
  .work__content__items {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 550px) {
  .work__content {
    padding: auto;
    margin: auto;
  }

  .work__content__items {
    grid-template-columns: auto;
    margin: auto 0;
  }
}
.topBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.bottomBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.triangle {
  /* z-index: 500; */
  position: fixed;
  top: 9.5px;
  /* left: 48.25%; */
  left: 0;
  right: 0;
  margin: 0 auto;
}

* {
  font-family: "Exo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: unset; */
}

.black__logo {
  width: 147px;
  margin-bottom: 56px;
}

.content__header {
  font-size: 34px;
  font-weight: 700;
}

.return__buttonContainer {
  text-align: center;
  padding-top: 48px;
  width: 100%;
}

.return__button {
  border: 5px solid #5e6161;
  background-color: white;
  margin-top: 48px;
  padding: 8px 120px;
  font-weight: 500;
  color: #5e6161;
  font-size: 24px;
  transition: 0.5s;
}

.return__button:hover {
  color: white;
  background: #5e6161;
}

.back__button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
}

.home__content {
  border: 10px solid #5e6161;
  border-style: none solid;
  text-align: center;
  box-sizing: border-box;
  left: 0;
  right: 0;
  position: relative;
}

.home__logo {
  position: absolute;
  left: 44%;
  top: 39%;
  width: 174px;
}

.home__sides {
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.home__side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__topLeft {
  background-color: #556270;
}

.home__topRight {
  background-color: #4ecdc4;
}

.home__bottomLeft {
  background-color: #c7f464;
}

.home__bottomRight {
  grid: br;
  background-color: #ff6b6b;
}

.home__heading {
  color: #fff;
  font-size: 38px;
}

.topBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.bottomBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.triangle {
  /* z-index: 500; */
  position: fixed;
  top: 9.5px;
  /* left: 48.25%; */
  left: 0;
  right: 0;
  margin: 0 auto;
}

* {
  font-family: "Exo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: unset; */
}

.black__logo {
  width: 147px;
  margin-bottom: 56px;
}

.content__header {
  font-size: 34px;
  font-weight: 700;
}

.return__buttonContainer {
  text-align: center;
  padding-top: 48px;
  width: 100%;
}

.return__button {
  border: 5px solid #5e6161;
  background-color: white;
  margin-top: 48px;
  padding: 8px 120px;
  font-weight: 500;
  color: #5e6161;
  font-size: 24px;
  transition: 0.5s;
}

.return__button:hover {
  color: white;
  background: #5e6161;
}

.back__button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
}

.about__content {
  border: 10px solid #5e6161;
  border-style: none solid;
  padding: 100px 120px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.logo__container {
  text-align: center;
}

.about__mainContainer, .about__peopleContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.about__mainContent {
  padding: 0 15px;
}

.about__mainContent > p {
  color: #333333;
  font-size: 20px;
  font-weight: 300;
}

.about__content__header {
  font-size: 32px;
  font-weight: 700;
}

.about__peopleHeader {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin: 80px;
}

.about__peopleContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 80px;
}

.about__people__detailContainer {
  display: grid;
}

.about__header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 80px auto;
}

.about__peopleImage {
  border: 5px solid #333;
  width: 50%;
  margin: auto;
}

.about__people__details {
  color: #333333;
  font-size: 22px;
  text-decoration: none;
  margin: auto;
  margin-bottom: 10px;
  text-align: start;
}

.about__people__details img {
  margin-right: 20px;
}

.client__p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.about__clientContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.about__clientContainer img {
  width: 60%;
}

* {
  font-family: "Exo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: unset; */
}

.black__logo {
  width: 147px;
  margin-bottom: 56px;
}

.content__header {
  font-size: 34px;
  font-weight: 700;
}

.return__buttonContainer {
  text-align: center;
  padding-top: 48px;
  width: 100%;
}

.return__button {
  border: 5px solid #5e6161;
  background-color: white;
  margin-top: 48px;
  padding: 8px 120px;
  font-weight: 500;
  color: #5e6161;
  font-size: 24px;
  transition: 0.5s;
}

.return__button:hover {
  color: white;
  background: #5e6161;
}

.back__button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
}

.topBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.bottomBorder {
  background-color: #5e6161;
  width: 100%;
  height: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.triangle {
  /* z-index: 500; */
  position: fixed;
  top: 9.5px;
  /* left: 48.25%; */
  left: 0;
  right: 0;
  margin: 0 auto;
}

.contact__content {
  border: 10px solid #5e6161;
  border-style: none solid;
  padding: 100px;
  text-align: center;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.contact__p {
  color: #333;
  font-size: 22px;
}

/*# sourceMappingURL=styles.css.map */
