@use 'variables';
@import 'mixins';


$primary-color : rgb(255, 188, 63) !global;

@function custom-colour-mixer($colour1,$colour2){
   $mixed-colour : mix($colour1,$colour2);  // mix the 2 input colours 
   $lighten-colour : lighten($mixed-colour,40%); //lightens the colour by 40%
    @return $lighten-colour;
}

body{
    background-color: $primary-color;
}


//including the mixin property
h1{
    @include custom-text(2rem);
}


// extending the h1's property
.extend-p{
    @extend h1;
    color: green;

}


// given background a custom colour
div{
    padding: 20px;
    border-radius: 10px;
    background-color: custom-colour-mixer(red,orange); // will mix both red and blue and lightens it by 40%
}




/*
String Functions:

str-slice --> returns the sliced part of string provide 3 parameter string , start and end
NOTE: index starts from 1 not 0
so str-slice("Hello",2,4) returns ell and not llo

unique-id --> returns a unique id in sass session


Numeric Functions:

comparable --> Returns boolean value whether the two input value are comparable
percentage --> converts the number into percentage
random --> returns a random number b/w 0 and 1


colour Functions:
fade-in and fade-out --> changes opacity
lighten and darken --> changes lightness
saturate and desaturate --> changes saturation

List Functions:

append --> append a item to the end
is-bracketed --> check for square brackets

*/