* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

.main-container {
  display: grid;
  gap: auto 8px;
  grid-template-areas:
    "a a a"
    "nav nav nav"
    "left main right";
}

.container {
  padding: 8px;
  background-color: white;
}

.container-top {
  grid-area: a;
  background-color: #011e29;
  color: white;
  text-align: center;
}
.container-nav {
  grid-area: nav;
  background-color: white;
  text-align: center;
  justify-content: space-between;
}

.container-nav > a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto 8px;
}

.container-right {
  grid-area: right;
  margin: 20px;
  margin-right: 80px;
  padding: 16px;
}

.container-left {
  grid-area: left;
  margin: 20px;
  margin-left: 80px;
  padding: 16px 32px;
}

.header {
  color: #01b0cd;
  text-align: center;
}

.container-main {
  margin: 20px;
  grid-area: main;
}

.container-main img {
  margin-left: 24px;
}

.logo-img {
  height: 100px;
  width: 400px;
}

.sub-content {
  margin: 5px auto;
  border: 0.5px solid rgba(242, 242, 242, 0.25);
}
.ad {
  text-align: center;
}
.ad > p {
  color: rgb(175, 175, 175);
}

.sub-div {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  border: 2px solid #f5f5f5;
  box-shadow: #d3d2d2;
  display: grid;
}

.sub-div > h3 {
  color: #01b0cd;
}

.publish-div {
  margin: 8px;
  color: grey;
}
