* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 80vh;
  /* text-align: center; */
  background: linear-gradient(#e66465, #9198e5);
}

.form-div {
  /* display: flex; */
  width: 400px;
  height: 400px;
  margin: 180px auto;
  background: white;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.login-head {
  text-align: center;
}

label,
input {
  margin-top: 10px;
}

.input-field {
  border: 0.5px solid grey;
  border-radius: 999px;
  height: 30px;
  line-height: 140%;
  padding-left: 15px;
}

.submit-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  background-color: #56b2eb;
  color: white;
}
